<section ng-controller="HomeController">
  <div ng-controller="DrawingController as vm">
    <ng-map zoom="13" center="current-location"
            map-type-id="ROADMAP"
            default-style="false
            street-view-control-options="{position: 'LEFT_CENTER'}">
      <drawing-manager
              on-overlaycomplete="vm.onMapOverlayCompleted()"
              drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon','rectangle','circle']}"
              drawingControl="true"
              drawingMode="null"
              markerOptions="{icon:'www.example.com/icon'}"
              rectangleOptions="{fillColor:'red'}"
              circleOptions="{fillColor: '#FFFF00',fillOpacity: 1,strokeWeight: 5,clickable: false,zIndex: 1,editable: true}" >
      </drawing-manager>
    </ng-map>
  </div>
</section>
