<section>
  <div class="page-header">
    <h1>Properties</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="property in vm.properties"
       ui-sref="properties.view({ propertyId: property._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="property.created | date:'mediumDate'"></span>
        by
        <span ng-if="property.user" ng-bind="property.user.displayName"></span>
        <span ng-if="!property.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="property.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.properties.$resolved && !vm.properties.length">
    No Properties yet, why don't you <a ui-sref="properties.create">create one</a>?
  </div>
</section>
